#about{
    background: url("../../assets/background/home_bg_2.webp");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 50% 90%;
    .inner-section{
        .heading {
            font-family: 'Playfair Display', serif;
        }
        img{
            width: 70%;
            height: auto;
        }
        .btn {
            background-color: #006aff;
            border-color: #006aff;
            padding: 16px 45px;
            text-transform: uppercase;
            text-align: center;
            font-size: 14px;
            &:hover,&:focus,&:active{
                background-color: #3786f5;
                border-color: #3786f5;
            }
            font-family: 'ABeeZee', sans-serif !important;  
        }
        .banner_item{
            display: flex;
            .single_item {
                text-align: center;
                margin-top: 100px;
                margin-right: 80px;
                position: relative;
                z-index: 1;
                &:after{
                    position: absolute;
                    content: "";
                    right: -48%;
                    top: 0;
                    width: 1px;
                    height: 100%;
                    background-color: #e4e6ea;
                }
                img {
                    width: 44px;
                    margin-bottom: 25px;
                }
                h5 {
                    font-family: 'Playfair Display', serif;
                    font-size: 18px;
                    text-transform: capitalize;
                    color: #242429;
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .banner_item .single_item {
        &:after{
            right: -14%;
        }
        h5 {
            font-size: 16px;
        }
        margin-top: 30px;
    }
}