.register {
    h2 {
        font-family: 'Playfair Display', serif;
    }
    .head-div-fourth-text {
        color: #006aff;
    }
    .MuiFormControl-root {
        margin-bottom: 10px;
    }
    form {
        padding: 20px 40px;
    }
    .testing {
        white-space: pre;
        color: grey;
        font-size: 12px;
    }
}