.contact-div{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    .head{
        height: 100%;
        display: flex;
        .heading {
            font-family: 'Playfair Display', serif;
        }
        .contact{
            display: flex;
            flex-direction: column;
            align-items: center;
            color:black;
            p{
                width: 70%;
                text-align: center;
            }
            .btn {
                color: white;
                background-color: #006aff;
                border-color: #006aff;
                padding: 13px 34px;
                text-transform: uppercase;
                text-align: center;
                font-size: 14px;
                &:hover,&:focus,&:active{
                    background-color: #3786f5;
                    border-color: #3786f5;
                }
                font-family: 'ABeeZee', sans-serif !important;  
            }
        }
    }
    .footer{
        position: relative;
        font-size: 12px;
        bottom: -50px;
        color: rgb(189, 189, 189);
    }
}