.main_loading {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  height: 100vh;
  width: 100%;
  opacity: 1;
  background-color: white;
  .spinner-grow {
    width: 5rem !important;
    height: 5rem  !important;
    color: #006aff !important;
  }
}